.allJobs{
  display: flex;
  margin-left: -15%;
  font-size: large;
}

.job-card-container {
  display: inline-block;
  flex-direction: column; /* Stack cards vertically */
}

.job-card {
  display: flex;
  align-items: center;
  margin-left: -100px;
  margin-bottom: 20px;
  width: 700px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  background-color: white;
  min-height: 60px;
}

.job-card:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.company-logo {
  width: 8%;
  margin-right: 10px;
  border-radius: 50%;
}

.job-title {
  font-weight: bold;
  font-size: 16px;
  margin-top: -20px;
}

.job-company-location {
  font-size: 14px;
  margin-bottom: 5px;
  position: absolute;
}

/* .job-departments {
  font-style: italic;
  margin-bottom: 10px;
} */

.view-job-button {
  display: none;
  background-color: #1976d2;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  position: absolute; /* Position the button absolutely */
  right: 20px; /* Align the button to the right edge */
}

.job-card:hover .view-job-button {
  display: inline-block;
  cursor: pointer;
}

.view-job-button:hover {
 opacity: 0.8;
}

.load-more-button {
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: -15%;
}

.load-more-button:hover {
  opacity: 0.8;
}

.load-more-button:disabled{
  display: none;
}

/* Media Query for Tablets and Mobile Devices */
@media (max-width: 768px) {
  .job-card-container {
    margin-right: 1%; /* Adjust margin for better alignment */
    width: 70%; /* Adjust width to fit smaller screens */
    margin-top: 20%;
  }

  .allJobs {
    margin-left: 0; /* Reset margin */
    font-size: large; /* Adjust font size */
    text-align: center; /* Center text */
    margin-top: 12%;
  }

  .job-card {
    display: flex;
    flex-direction: column; /* Stack card contents vertically */
    margin-left: 0; /* Reset margin */
    width: 100%; /* Full width for mobile */
    padding: 15px; /* Adjust padding for better spacing */
    margin-bottom: 15px; /* Adjust margin bottom for better spacing */
  }

  .company-logo {
    width: 20%; /* Adjust logo size for better visibility */
    margin-right: 0; /* Reset margin */
    margin-bottom: 20px; /* Add margin bottom for spacing */
  }

  .job-title {
    font-size: 16px; /* Adjust font size */
    text-align: center; /* Center text */
  }

  .job-company-location {
    font-size: 14px; /* Adjust font size */
    text-align: center; /* Center text */
    position: static; /* Reset position */
    margin-bottom: 5px; /* Add margin bottom for spacing */
  }

  .view-job-button {
    display: block; /* Display button for mobile */
    position: static; /* Reset position */
    margin: 10px auto 0; /* Adjust margin for centering */
  }

  .load-more-button {
    margin: 0 auto; /* Center button */
    margin-bottom: 10px;
  }
  .load-more-button:disabled{
    display: none;
  }
}

/* End of Media Query */
