:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: black;
  color: #1976d2;
  font-weight: bold;
  font-size: large;
  padding: 0 20px;
}

.toolbar img {
  width: 150px;
  vertical-align: middle;
  margin-right: 10px;
}

.title-tag {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.spacer,
.space {
  flex-grow: 0.3;
}

.links {
  margin: 0 10px;
  /* color: #1976d2; */
  color: white;
  text-decoration: none;
}

.links:hover {
  opacity: 0.8;
}

.main-content {
  padding-top: 80px;
  text-align: center;
  /* width: 100%; */
  min-height: calc(100vh - 290px);
  box-sizing: border-box;
  background-color: aliceblue;
}

/* Footer Styles */
footer {
  /* background-color: #f8f8f8; Set background color for the footer */
  padding: 20px 0; /* Add some padding */
  text-align: center; /* Center the content */
}

.footer-content {
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center the items horizontally */
  flex-wrap: wrap; /* Allow items to wrap if they exceed the width */
}
.footer-links span,
.footer-social span{
  font-weight: bold;
}
.footer-links,
.footer-social {
  flex: 1; /* Make both sections grow to fill available space */
  margin: 10px; /* Add some margin between sections */
}

.footer-bottom {
  margin-top: 10px; /* Add some space between content and bottom text */
}

ul {
  list-style: none; /* Remove bullet points from lists */
  padding: 0; /* Remove default padding */
}

.footer-links ul li,
.footer-social ul li {
  margin-bottom: 5px; /* Add some space between list items */
}

.footer-links ul li a,
.footer-bottom p
{
  text-decoration: none;
  font-weight: 500;
}

.footer-social img {
  width: 30px; /* Adjust image size */
  height: auto; /* Maintain aspect ratio */
}

.footer-social{
  flex-direction: row;
}

/* Media Query for Tablets and Mobile Devices */
@media (max-width: 768px) {
  .toolbar {
    height: auto; /* Adjust height as needed */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 10px; /* Adjust padding for better spacing */
  }

  .title-tag {
    margin-bottom: 10px; /* Add space between logo and text */
  }

  .links {
    margin: 5px 0; /* Add space between links */
  }

  .spacer,
  .space {
    display: none; /* Hide spacers on smaller screens */
  }

  .main-content {
    padding-top: 60px; /* Adjust padding for toolbar */
  }
}
/* End of Media Query */
